/*==========================================
    service
===========================================*/

// for index-1
.service {
    padding: 0 0 100px;
    .section-title {
        margin-bottom: 80px;
    }
    .this-row {
        padding: 2px;
        background: #e9f0fb;
    }
    .single-servcie {
        position: relative;
        z-index: 2;
        padding: 40px;
        margin: 2px;
        background: $white;
        &:hover {
            &:before {
                opacity: 1;
            }
            .service-title {
                color: $white;
                .bg-number {
                    opacity: 0;
                }
            }
            .service-content {
                color: #f9f9f9;
            }
            .service-details-button {
                color: $white;
            }
        }
        &:before {
            position: absolute;
            content: '';
            left: -2px;
            top: -2px;
            right: -2px;
            bottom: -2px;
            background: $bg-color;
            z-index: -1;
            opacity: 0;
            @include transition($transition);
        }
        .service-title {
            font-size: 27px;
            line-height: 35px;
            color: #222222;
            font-weight: 800;
            margin-bottom: 35px;
            position: relative;
            @include transition($transition);
            .bg-number {
                display: block;
                font-size: 135px;
                line-height: 100%;
                color: #ffffff;
                text-shadow: 0px 0px 1px black;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                z-index: -1;
                opacity: .4;
                @include transition($transition);
            }
        }
        .service-content {
            font-size: 16px;
            line-height: 27px;
            color: #72839a;
            font-weight: 500;
            margin: 0;
        }
        .service-details-button {
            display: inline-block;
            font-weight: 700;
            color: $base-color;
            font-size: 18px;
            margin-top: 29px;
            @include transition($transition);
        }
    }
    .this-row {
        .col-xl-4 {
            &:nth-last-child(-n+3){
                .single-servcie {
                    &:after {
                        border-bottom: 5px solid #e9f0fb;
                    }
                }
            }
            &:nth-child(3n+0) {
                .single-servcie {
                    &:after {
                        border-right: 5px solid #e9f0fb;
                    }
                }
            }
        }
    }
}

// for index-2
.service-2 {
    position: relative;
    z-index: 2;
    &:after {
        position: absolute;
        content: '';
        left: 0;
        top: -349px;
        width: 100%;
        height: 710px;
        background: url('../img/service-bg.jpg') center center no-repeat;
        background-size: cover;
        z-index: -1;
    }
    &:before {
        position: absolute;
        content: '';
        left: 0;
        top: -349px;
        width: 100%;
        height: 710px;
        background-size: cover;
        background-color: #222222;
        z-index: 0;
        opacity: .84;
    }
    .this-section-title {
        margin-bottom: 82px;
        h2 {
            font-size: 45px;
            line-height: 55px;
            font-weight: 800;
            color: $white;
        }
        p {
            font-size: 18px;
            line-height: 30px;
            font-weight: 500;
            margin: 0;
            color: $white;
        }
    }
    .service-2-slider {
        position: relative;
        .owl-stage-outer {
            background: $white;
            .owl-item {
                &.target.active {
                    .single-servcie {
                        &:before {
                            opacity: 1;
                            transition-delay: 0.14s;
                            transform: rotateY(180deg);
                        }
                        .service-title {
                            color: $white;
                            .bg-number {
                                opacity: 0;
                            }
                        }
                        .service-content {
                            color: #f9f9f9;
                        }
                        .service-details-button {
                            color: $white;
                        }
                    }
                }
            }
        }
        .owl-nav {
            position: absolute;
            left: -100px;
            bottom: 50px;
            right: -100px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            z-index: -1;
            div {
                display: inline-block;
                width: 70px;
                height: 70px;
                text-align: center;
                line-height: 70px;
                border-radius: 50%;
                background: $bg-color;
                color: $white;
                position: relative;
                z-index: 2;
                margin-right: 16px;
                overflow: hidden;
                @include transition($transition);
                user-select: none;
                cursor: pointer;
                &:after {
                    position: absolute;
                    content: '';
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: $bg-color-reverse;
                    @include transition($transition);
                    opacity: 0;
                    z-index: -1;
                }
                &:hover {
                    color: $white;
                    &:after {
                        opacity: 1;
                    }
                }
                &:last-child {
                    margin-right: 0;
                }
                &.owl-next {
                    background: $white;
                    color: #222;
                    border: 1px solid #e2eefb;
                    &:hover {
                        color: $white;
                    }
                }
            }
        }
    }
    .single-servcie {
        position: relative;
        z-index: 2;
        padding: 40px;
        margin: 2px;
        background: #f6fcff;
        &:before {
            position: absolute;
            content: '';
            left: -2px;
            top: -2px;
            right: -2px;
            bottom: -2px;
            background: $bg-color;
            z-index: -1;
            opacity: 0;
            @include transition($transition);
        }
        .service-title {
            font-size: 27px;
            line-height: 35px;
            color: #222222;
            font-weight: 800;
            margin-bottom: 35px;
            position: relative;
            @include transition($transition);
            .bg-number {
                display: block;
                font-size: 135px;
                line-height: 100%;
                color: #ffffff;
                text-shadow: 0px 0px 1px black;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                z-index: -1;
                opacity: .4;
                @include transition($transition);
            }
        }
        .service-content {
            font-size: 16px;
            line-height: 27px;
            color: #72839a;
            font-weight: 500;
            margin: 0;
        }
        .service-details-button {
            display: inline-block;
            font-weight: 700;
            color: $base-color;
            font-size: 18px;
            margin-top: 29px;
            @include transition($transition);
        }
    }
}

// for index-3
.service.service-3 {
    padding: 120px 0 90px;
    background: url('../img/shape-4.png') center center repeat;
    background-size: cover;
    .single-servcie {
        padding: 0;
        margin: 0;
        border-radius: 3px;
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);
        margin-bottom: 30px;
        &:before {
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
        }
        .part-img {
            img {
                width: 100%;
            }
        }
        .part-text {
            padding: 40px;
        }
    }
}

// for index-4
.service-2.service-4 {
    padding-top: 120px;
    &:after {
        top: 0;
        height: auto;
        bottom: 85px;
        background: url('../img/service-4-bg.jpg') center center no-repeat;
        background-size: cover;
    }
    &:before {
        top: 0;
        height: auto;
        bottom: 85px;
        display: none;
    }
    .owl-item {
        &.active.target {
            .single-servcie {
                &:after {
                    transform: rotateY(180deg);
                    opacity: 1;
                }
                .left {
                    margin-right: 30px;
                    .number {
                        color: $white;
                    }
                }
            }
        }
    }
    .single-servcie {
        display: block;
        &:after {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: url('../img/map-vector-bg.png') center center no-repeat;
            background-size: cover;
            z-index: -1;
            opacity: 0;
            transform: rotateY(0);
            @include transition(.8s);
        }
        .service-title {
            margin-bottom: 25px;
            font-size: 27px;
            line-height: 35px;
        }
        .left {
            margin-right: 25px;
            .number {
                font-size: 27px;
                line-height: 35px;
                font-weight: 800;
                color: #222;
            }
        }
    }
}