/*==========================================
    team
===========================================*/
.team-page {
    background: none;
    .add-single-member {
        background: #f5f9ff;
        img {
            opacity: 0;
        }
    }
}