/*==========================================
    testimonial
===========================================*/
.testimonial-page {
    background: $white;
    background-color: #f5fbfe;
    padding-bottom: 90px;
    .single-testimonial {
        margin-bottom: 30px;
    }
}